<GridLayout>
<ContentView height="100%" width="100%">
    <Mapbox
        accessToken="pk.eyJ1IjoiZGVmcmlhLWVrc2UiLCJhIjoiY2pyZXlibHVlMHB1NzRhb2c3azdqOGtwMSJ9.5SNjfT2uE_tf4rZydg4-DA"
        mapStyle="traffic_day"
        latitude="42.624189"
        longitude="23.372106"
        hideCompass="true"
        zoomLevel="18"
        showUserLocation="false"
        disableZoom="false"
        disableRotation="false"
        disableScroll="false"
        disableTilt="false"
        (mapReady)="onMapReady($event)">
    </Mapbox>
  </ContentView>
</GridLayout>
