<StackLayout>
  <StackLayout>
    <ContentView height="80%" width="100%">
      <Mapbox
          accessToken="pk.eyJ1IjoiZGVmcmlhLWVrc2UiLCJhIjoiY2s1cGJla3dnMDAyZTNucW9tcHVzazNkYiJ9.rfuuTR_kMzM6FQt5ZxrX1A"
          mapStyle="traffic_day"
          latitude="-26.1089262"
          longitude="28.0536702"
          hideCompass="true"
          zoomLevel="15"
          showUserLocation="true"
          disableZoom="false"
          disableRotation="false"
          disableScroll="false"
          disableTilt="false"
          (mapReady)="onMapReady($event)">
      </Mapbox>
    </ContentView>
  </StackLayout>
  
  <StackLayout>
    <Label text="Follow me" class="m-r-10" verticalAlignment="center"></Label>
    <Switch [checked]="following" (checkedChange)="toggleFollowing($event)"></Switch>
  </StackLayout>
</StackLayout>